@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

body {
    padding: 2rem;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #243e63;
    margin: 16px 0 0;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #6415ff;
}

.section__para {
    font-size: 18px;
    color: #7c8ba1;
    margin: 16px 0 0;
}

.section__para-title {
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

a {
    text-decoration: none;
    /* position: relative; */
    transition: opacity 300ms ease;
}

.btn {
    background-color: #6415ff;
    color: white;
    font-size: 14px;
    border-radius: 50px;
    padding: 12px 32px;
    margin: 32px 0 0;
    transition: all 300ms ease;
    
}

.btn:hover {
    cursor: pointer;
}

.purple {
    color: #6415ff;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

/* 

NAVIGATION BAR 

*/

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    padding: 0 0 4px;
    margin: 0 24px;
    font-size: 14px;
    color: #243e63;
    font-weight: bold;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
}

.nav__link--text {
    margin: 0 24px 0 0;
    padding: 0 0 4px;
    font-size: 24px;
}

.nav__link--text:hover {
    text-decoration: none;
}

.nav__link--anchor {
    margin: 0 24px 0 48px;
    padding: 0 0 4px;
}

.nav__link--anchor-primary {
    background-color: #6415ff;
    color: white;
    border-radius: 50px;
    padding: 12px 32px;
    margin: 0;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    text-decoration: none;
    background-color: #6415ff;
    color: white;
}

.nav__logo {
    display: flex;
    align-items: center;
}
.logo {
    margin: 0 12px 0 0;
}

.logo__wrapper {
    display: flex;
    align-items: center;
}


/* 

HEADER

*/

.header__row {
    display: flex;
    align-items: center;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.header__description-main {
    color: #1a202c;
    font-size: 48px;
    font-weight: bold;
}

.header__description-text {
    color: #243e63;
    font-size: 18px;
    margin: 32px 0;
}

.header__text-bottom {
    color: #7c7c7cee;
    font-size: 12px;
    font-weight: bold;
}

.header__img-customers {
    margin: 16px 0 0;
    padding-right: 128px;
    filter: grayscale(1) invert(1);
}

.header__bottom {
    margin: 80px 0 0;
}

.header__img--wrapper {
    width: 60%;
}

/* WATCH VIDEO

.header__email-text {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 9999px;
    border-width: 2px;
    width: 100%;
    font-weight: 500;
    transition-duration: 300ms;
}

.header__email-btn {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    width: 100%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    font-weight: 700;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition-duration: 300ms;
} */

/*

FEATURES

*/

.features__row {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    padding: 32px 8px;
    width: calc(100% / 3);
    display: flex;
}

.service__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
}

.service__title {
    font-size: 24px;
    font-weight: bold;
    color: #243e63;
    margin: 16px 0 0;
}


.service__para {
    font-size: 16px;
    color: #7c8ba1;
    margin: 16px 0 0;
}

.service__img--container {
    width: 30%;
    height: 30%;
    margin: 16px 0 0;
}

.section__description-features {
    width: 50%;
    text-align: center;
}

/* 

QUALITY WORK 

*/

.row__qw {
    display: flex;
}

.section__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

.img__qw {
    width: 50%;
}

/* 

STEPS 

*/

.row__steps {
    display: flex;
}

.section__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.img__steps {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numbers__steps {
    display: flex;
    margin: 8px;
}

.steps__description {
    display: flex;
    flex-direction: column;
}

.number__style {
    font-size: 36px;
    color: #cbd5e0;
    margin-right: 16px;
}