@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    border: 0 solid #e5e7eb;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

body {
    padding: 2rem;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: #243e63;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #243e63;
    margin: 16px 0 0;
}

.section__sub-title {
    font-size: 16px;
    font-weight: bold;
    color: #6415ff;
}

.section__para {
    font-size: 18px;
    margin: 16px 0 0;
}

.section__para-title {
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.section__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

p {
    color: #7c8ba1;
}

.button {
    background-color: #6415ff;
    color: white;
    font-size: 14px;
    border-radius: 50px;
    padding: 12px 32px;
    margin: 32px 0 0;
    transition: all 300ms ease;
}

.button:hover {
    cursor: pointer;
    background-color: #533197;
    color: lightgray;
}

.purple {
    color: #6415ff;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.no-cursor {
    cursor: not-allowed;
}


/* 

NAVIGATION BAR 

*/

.nav__container {
    width: 100%;
    max-width: 1200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    padding: 0 0 4px;
    margin: 0 24px;
    font-size: 14px;
    color: #243e63;
    font-weight: bold;
}

.link__hover-effect::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: -3px;
    right: 0;
    transition: 300ms ease;
}

.link__hover-effect--purple::after {
    background-color: #6415ff;
}

.link__hover-effect--white::after {
    background-color: white;
}

.link__hover-effect:hover::after {
    width: 100%;
    left: 0;
}

.nav__link--text {
    margin: 0 24px 0 0;
    padding: 0 0 4px;
    font-size: 24px;
}

.nav__link:hover {
    color: #6415ff;
    transition: all 300ms ease;
}

.nav__link--login {
    margin: 0 24px 0 48px;
    padding: 0 0 4px;
}

.nav__link--sign-up {
    background-color: #6415ff;
    color: white;
    border-radius: 50px;
    padding: 12px 32px;
    margin: 0;
    transition: all 300ms ease;
}

.nav__link--sign-up:hover {
    text-decoration: none;
    background-color: #533197;
    color: #fff ;
}

.nav__container--logo {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 24px 0 0;
}

.nav__logo {
    height: 40px;
    width: 40px;
    margin: 0 12px 0 0;
}

.nav__logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #243e63;
}

.nav__logo-text:hover {
    color: #6415ff;
    transition: all 300ms ease;
}

/* 

LANDING

*/

.landing {
    padding: 96px 0;
}

.landing__row {
    display: flex;
    align-items: center;
}

.landing__description {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 16px;
    margin-right: 16px;
}
.landing__description-main {
    color: #1a202c;
    font-size: 48px;
    font-weight: bold;
}

.landing__description-text {
    color: #243e63;
    font-size: 18px;
    margin: 32px 0;
}

.landing__customer-text {
    color: #7c7c7cee;
    font-size: 12px;
    font-weight: bold;
}

.landing__customers-img {
    margin: 16px 0 0;
    padding-right: 128px;
    filter: grayscale(1) invert(1);
}

.landing__customers {
    margin: 80px 0 0;
}

.landing__img--wrapper {
    width: 60%;
}

/* NEED TO FIX FORM BORDER COLOR WHEN ACTIVE */

.landing__form {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 100px;
    cursor: text;
    transition: border 300ms ease;
    overflow: hidden;
}

.email-box {
    border: none;
    padding-left: 32px;
    width: 100%;
    font-weight: 500;
    transition: all 300ms ease;
    font-size: 16px;
}

.email-box:focus {
    outline: #6415ff;
}

.landing__form--button {
    border-radius: 9999px;
    line-height: 1;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    font-weight: 700;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms ease;
    cursor: not-allowed;
    border: none;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    font-size: 16px;
}

/*

FEATURES

*/

.features__row {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service {
    display: flex;
    align-items: flex-start;
    padding: 32px 8px;
    width: calc(100% / 3);
    height: 100%;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
}

.service__description--title {
    font-size: 24px;
    font-weight: bold;
    color: #243e63;
    margin: 16px 0 0;
}


.service__para {
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
    margin: 16px 0 0;
}

.service__img--container {
    display: flex;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
    padding: 20px;
}

.service__img {
    height: 20px;
    width: 20px;
}

.section__description--features {
    width: 50%;
    text-align: center;
}

/* 

QUALITY WORK 

*/

.row__quality-work {
    display: flex;
}

.img__quality-work {
    width: 50%;
}

.section__description--container-quality-work {
    margin-right: 56px;
}

/* 

STEPS 

*/

.section__description--container-steps {
    margin: 0 0 0 36px;
    padding: 32px 0;
}

.row__steps {
    display: flex;
}

.img__step {
    height: 72%;
}

.img__step--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.step {
    display: flex;
    margin: 8px;
}

.steps__description {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.step__description--title {
    color: #243e63;
    font-size: 20px;
    font-weight: bold;
}

.step__description--para {
    color: #718096;
    font-size: 14px;
    margin: 12px 0 0;
    line-height: 1.5;
}

.step__number {
    font-size: 36px;
    color: #cbd5e0;
    margin-right: 16px;
}

/* 

VALUES 

*/

.section__description--container-values {
    width: 50%;
    padding-right: 56px;
}

.row__values {
    display: flex;
}

.values {
    display: flex;
}

.value {
    margin: 32px 32px 0 0;
}

.value__title--heading {
    font-weight: bold;
    color: #243e63;
    font-size: 20px;
}

.value__title {
    display: flex;
}

.value__description {
    color: #718096;
    font-size: 16px;
    margin: 16px 0 0;
}

.value__img--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.value__img--green {
    background-color: #9ae6b4;
}

.value__img--red {
    background-color: rgba(254,178,178,1);
}

.img__values--section {
    width: 50%;
}

/*

PRICING

*/

.pricing {
    display: flex;
    flex-direction: column;
}

.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__description-pricing {
    max-width: 50%;
    text-align: center;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan {
    position: relative;
    width: calc(90% / 3);
    display: flex;
    flex-direction: column;
    padding: 8px 32px 0 32px;
    margin-top: 64px;
    margin-left: 4px;
    margin-right: 4px;
    max-width: 384px;    

    --tw-shadow: 
        0 1px 3px 0 rgba(0, 0, 0, 0.1), 
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 
        var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), 
        var(--tw-shadow);
    --tw-bg-opacity: 1;
    background-color: 
        rgba(255, 255, 255, 
        var(--tw-bg-opacity));
    border-radius: 8px;
}

.plan__border {
    position: absolute;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 8px;
}

.plan__border--left {
    background: linear-gradient(115deg, 
        rgb(56, 178, 172) 0%, 
        rgb(129, 230, 217) 100%);
}

.plan__border--right {
    background: linear-gradient(115deg,
      rgb(245, 101, 101) 0%,
      rgb(254, 178, 178) 100%);
}

.plan--middle {
    background-image: linear-gradient(135deg,
        rgb(76, 81, 191) 0%,
        rgb(102, 126, 234) 100%);
      border-radius: 8px;
}

.plan__header {
    display: flex;
    flex-direction: column;
    padding: 32px 0px;
    line-height: 1.5;                 
}

.plan__name {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.plan__price {
    font-size: 48px;
    color: black;
    margin: 4px 0;
    font-weight: bold;
    text-align: center;
}

.plan__cycle {
    font-size: 16px;
    color: #a0aec0;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

.plan__description {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px;
    margin-left: -16px;
    margin-right: -16px;
    border-top-width: 2px;
    border-bottom-width: 2px
}

.plan__description--title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.plan__description--feature {
    font-size: 16px;
    color: #718096;
    font-weight: 500;
    margin-top: 24px;
}



.button--wrapper {
    padding: 32px;
    padding-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__plan {
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 100px;
    padding: 16px 32px;
    align-items: center;
    width: 75%;
    display: inline-block;
    text-align: center;
    transition: all 300ms ease;
}

.button__plan:hover {
    transform: translateY(-2px) translateX(2px);
}

.button__plan:hover {
    --tw-shadow: 
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: 
        var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), 
        var(--tw-shadow);
}

.button-left {
    background: linear-gradient( 115deg, 
        rgb(56, 178, 172) 0%, 
        rgb(129, 230, 217) 100% );
}

.button-middle {
    --tw-bg-opacity: 1;
    background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(70, 15, 179, var(--tw-text-opacity));
}

.button-right {
    background: linear-gradient( 115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );
}

.middle {
    color: white;
    --tw-border-opacity: 1;
    border-color: 
        rgba(102, 126, 234, 
        var(--tw-border-opacity));
}